<div id="quote-required-reading">
  <p class="quote">
    Johnny Noble’s method should be required reading for everyone who is in
    charge of organising digital assets of any kind. Seriously, if you’ve ever
    needed the latest version of a file and couldn’t find it within 1–5 minutes,
    you’ll benefit from getting familiar with Johnny.Decimal.
  </p>
  <p class="attribution">—<a href="#">Ellane</a></p>
</div>

<style lang="scss">
  @use "../../style/responsive" as r;

  #quote-required-reading {
    border: 2px solid var(--border);
    box-shadow: inset 0px 4px 8px rgba(17, 38, 42, 0.2);
    margin: 2rem auto;
    max-width: 450px;
    padding: 2rem;

    .quote {
      font-style: italic;
    }
  }
</style>
