:root {
  --background: #fcfdfe;
  --text: #1f464e;
  --border: #459cae;

  --code-border: var(--border);
  --code-bg: #e8f4f6;

  @media (prefers-color-scheme: dark) {
    --background: #11262a;
    --text: #e8f4f6;
    --border: #2a5e68;

    --code-bg: #2a5e68;
    --code-border: #94cad4;
  }
}
