---
interface Props {
  fnref: string;
  text: string;
}

const { fnref, text, html } = Astro.props;

const innerHtml = `${html} <a class="fn-return" href="#fn-ref-${fnref}"}>⇡</a>`;
---

<li class="fn-item" id={`fn-${fnref}`} set:html={innerHtml} />

<style lang="scss" is:global>
  // Careful here. This is:global otherwise our set:html anchor styling
  // doesn't apply. So be real specific.

  @use "../style/responsive" as r;
  li.fn-item {
    font-size: 0.9rem;
    list-style-position: inside;
    margin: 0.5rem 0;
    padding-left: 0.9rem;
    text-indent: -0.85rem;
    a.fn-return {
      color: var(--text);
      font-size: 0.7rem;
      text-decoration: none;
      vertical-align: super;
      &:hover,
      &:visited,
      &:hover:visited,
      &:active {
        background-color: var(--background);
        color: var(--text);
      }
    }
  }
</style>
