---
import FootnoteItem from "./FootnoteItem.astro";
---

<div id="footnotes">
  <h2>Footnotes</h2>
  <ol>
    <FootnoteItem
      fnref="opinionated"
      html="Vs. the standard, which is the (imperfect, but nevertheless standard) <a href='https://yeah'>Dewey Decimal Classification</a>."
    />
    <FootnoteItem fnref="maccas" text="We do (love them)." />
  </ol>
</div>

<style lang="scss">
  @use "../style/responsive" as r;
</style>
