<div class="masonry-with-columns">
  <div>
    <h2>A global standard</h2>
    <p>
      The Johnny.Decimal Small Business System provides a structured,
      opinionated method to organize everything in a business, creating a
      universal 'catalogue' for all files, tasks, and items.
    </p>
    <p>
      By assigning each item a unique ID, it simplifies storage, retrieval, and
      communication, eliminating inefficiency and decision fatigue.
    </p>
  </div>
  <div>
    <h2>Getting stuff done</h2>
    <p>
      There are places online where people gather to discuss get-rich-quick
      schemes.
    </p>
    <p>This is not one of them.</p>
    <p>
      This is a place to get <strong>real work done</strong>. This is a place
      for people who are <strong>executing their idea</strong>, not for those
      who are still dreaming.
    </p>
  </div>
  <div>
    <h2>Be organised</h2>
    <p>Business is hard.</p>
    <p>Filing things is harder!</p>
    <p>
      The Johnny.Decimal System tackles the chaos of business by bringing order
      to everything—files, emails, tasks, notes—so you always know where things
      belong and can stay focused on what matters.
    </p>
  </div>
  <div>
    <h2>Your operations manual</h2>
    <p>
      McDonald's success comes from standardized operations manuals that ensure
      consistency worldwide.
    </p>
    <p>
      The Johnny.Decimal Small Business System applies this concept to everyday
      business tasks, providing clear, shared documentation to streamline
      routine processes like IT backups, so you can focus on what makes your
      business unique.
    </p>
  </div>
</div>

<style>
  .masonry-with-columns {
    columns: 2;
    column-gap: 2rem;
    div {
      width: 150px;
      margin: 0 1rem 1rem 0;
      display: inline-block;
      width: 100%;
    }
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
</style>
