<div>
  <h1>Let's do business</h1>

  <p>
    The system is currently in development. You are invited to join us in the
    lounge while you wait.
  </p>

  <p>
    Both membership tiers include instant access to all existing Johnny.Decimal
    products. If you choose the <em>Gold</em> plan, you get access to anything we
    release while you're a member.
  </p>

  <div id="prices">
    <div id="platinum" class="price-details">
      <h3><em>Platinum</em></h3>
      <img src="/img/qf-platinum-light.jpg" />
      <!-- <img src="/img/ezgif-3-4df67e170f.gif" /> -->
      <ul>
        <li>
          <strong>Lifetime</strong> access.
        </li>
        <li>All updates, forever.</li>
        <li>Community access, forever.</li>
        <li>
          Exclusive low price: only <span class="alt-digits">2</span>× Gold
          while in pre-launch.
        </li>
      </ul>
      <h1 class="alt-digits">$300</h1>
    </div>

    <div id="gold" class="price-details">
      <h3><em>Gold</em></h3>
      <img src="/img/qf-gold-light.jpg" />
      <ul>
        <li><strong>Annual</strong> membership.</li>
        <li>Updates & community access while membership current.</li>
        <li>Renewal price locked in: will increase when launched.</li>
      </ul>
      <h1 class="alt-digits">$150</h1>
    </div>
  </div>
  <p class="price-note">
    All prices in US dollars. You may choose your local currency at checkout.
  </p>

  <p>
    You'll never lose access to your existing system: but with <em>Gold</em>,
    updates stop if you end your membership, and you'll lose access to the
    community.
  </p>
</div>

<style lang="scss">
  @use "../style/responsive" as r;

  #prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin: 2rem 0;

    @include r.mobile {
      grid-template-columns: 1fr;
      margin: 2rem auto;
      max-width: 400px;
    }
  }

  .price-details {
    border: 2px solid var(--border);
    background-color: var(--blue-200);
    box-shadow: 0px 4px 8px rgba(17, 38, 42, 0.2);
    padding: 0.5rem;
    @include r.dark {
      background-color: var(--blue-800);
      box-shadow: 0px 4px 8px rgba(232, 234, 236, 0.2);
    }
  }

  #platinum,
  #gold {
    // transition: background 1s ease-in-out; /* Smooth transition */
  }

  #platinum:hover {
    transition: background 0.4s ease-in-out;
    background: linear-gradient(-45deg, #e8e8e8 40%, #f7f7f7 50%, #e2e2e2 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 2s infinite alternate ease-in-out;
  }

  #gold:hover {
    transition: background 0.4s ease-in-out;
    background: linear-gradient(-45deg, #f0e6b8 40%, #f7eec1 50%, #f3e1a8 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 2s infinite alternate ease-in-out;
  }

  @keyframes shimmer {
    to {
      background-position-x: 0%;
    }
  }

  .alt-digits {
    font-variant-numeric: lining-nums;
  }

  .price-note {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
  }

  @include r.mobile {
    #gold {
      margin-top: 2rem;
    }
  }

  h1 {
    border: 0;
    font-size: 3rem;
    text-align: center;
  }

  h3 {
    border-bottom: 2px solid var(--border);
    margin-top: 0;
    text-align: center;
  }

  ul {
    list-style-position: inside;
    height: 160px;
    margin-top: 1rem;
    padding-left: 0.1rem;
    li {
      text-indent: 1.1rem hanging;
      // padding-left: 1.5rem;
      + li {
        margin-top: 0.3rem;
      }
    }
  }
</style>
