<div>
  <h1>Let’s do business</h1>

  <p>
    The system is currently in development. You are invited to join us in the
    lounge while you wait.
  </p>

  <p>
    Both membership tiers include instant access to all existing Johnny.Decimal
    products.
  </p>
  <p>
    <strong>Platinum membership gets you everything we do, for life.</strong>
  </p>
  <p>
    With Gold, you get access to anything we release while your membership is
    current.
  </p>

  <div id="prices">
    <a href="https://store.johnnydecimal.com/cart/43063017111688:1">
      <div id="platinum" class="price-details">
        <h2><em>Platinum</em></h2>

        <picture>
          <source
            media="(prefers-color-scheme: light)"
            srcset="/img/platinum-light.png"
          />
          <source
            media="(prefers-color-scheme: dark)"
            srcset="/img/platinum-dark.png"
          />
          <img src="/img/platinum-light.png" width="100%" class="platinum" />
        </picture>

        <ul>
          <li>
            <strong>Lifetime</strong> access.
          </li>
          <li>Everything we do, forever.</li>
          <li>Community access, forever.</li>
          <li>
            Exclusive low price: only <span class="alt-digits">2</span>× Gold
            while in pre-launch.
          </li>
        </ul>
        <p class="alt-digits">$300</p>
      </div>
    </a>

    <div id="gold" class="price-details">
      <h2><em>Gold</em></h2>

      <picture>
        <source
          media="(prefers-color-scheme: light)"
          srcset="/img/gold-light.png"
        />
        <source
          media="(prefers-color-scheme: dark)"
          srcset="/img/gold-dark.png"
        />
        <img src="/img/gold-light.png" width="100%" class="gold" />
      </picture>

      <ul>
        <li><strong>Annual</strong> membership.</li>
        <li>Updates & community access while membership current.</li>
        <li>Renewal price locked in: will increase when launched.</li>
      </ul>
      <p class="alt-digits">$150</p>
    </div>
  </div>
  <p class="price-note">
    Prices in US dollars. Choose your local currency at checkout.
  </p>
  <div class="payment-logos-container">
    <picture class="payment-logos">
      <source
        media="(prefers-color-scheme: light)"
        srcset="/img/payment-logos-2-light.png"
      />
      <source
        media="(prefers-color-scheme: dark)"
        srcset="/img/payment-logos-2-dark.png"
      />
      <img src="/img/payment-logos-2-light.png" width="430" />
    </picture>
  </div>
</div>

<style lang="scss">
  @use "../style/responsive" as r;

  #prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    margin: 2rem 0;

    @include r.mobile {
      grid-template-columns: 1fr;
      margin: 2rem auto;
      max-width: 400px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    ul {
      li {
        list-style-type: none;
        padding-left: none;
        text-indent: 0px;
      }
    }
  }

  .price-details {
    border: 2px solid var(--border);
    background-color: var(--blue-200);
    box-shadow: 0px 4px 8px rgba(17, 38, 42, 0.2);
    padding: 0.5rem;
    @include r.dark {
      background-color: var(--blue-800);
      box-shadow: 0px 4px 8px rgba(232, 234, 236, 0.2);
    }
  }

  #platinum,
  #gold {
    transition:
      background 1s ease-in-out,
      background-position-x 1s ease-in-out; /* Smooth transition to gradient and background position */
  }

  #platinum:hover {
    background: linear-gradient(-45deg, #e8e8e8 40%, #f7f7f7 50%, #e2e2e2 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 2s infinite alternate ease-in-out;
    @include r.dark {
      background: linear-gradient(
        -45deg,
        #707070 40%,
        #909090 50%,
        #5a5a5a 60%
      );
      background-size: 300%;
      background-position-x: 100%;
      animation: shimmer 2s infinite alternate ease-in-out;
    }
  }

  #gold:hover {
    background: linear-gradient(45deg, #f0e6b8 40%, #f7eec1 50%, #f3e1a8 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 2s infinite alternate ease-in-out;
    @include r.dark {
      background: linear-gradient(45deg, #a67c00 40%, #b58900 50%, #8a6e00 60%);
      background-size: 300%;
      background-position-x: 100%;
      animation: shimmer 2s infinite alternate ease-in-out;
    }
  }

  @keyframes shimmer {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }

  p.alt-digits {
    font-size: 3.5rem;
    font-weight: 700;
    font-variant-numeric: lining-nums;
    margin-bottom: 1rem;
    text-align: center;
  }

  .price-note {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
  }

  @include r.mobile {
    #gold {
      margin-top: 2rem;
    }
  }

  h1 {
    border-bottom: 0;
    font-size: 4rem;
    text-align: center;
  }

  h2 {
    // border-bottom: 2px solid var(--border);
    font-size: 2.2rem;
    margin-top: 0;
    text-align: center;
  }

  ul {
    list-style-position: inside;
    height: 170px;
    margin-top: 1rem;
    padding-left: 0.1rem;
    li {
      text-indent: 1.1rem hanging;
      // padding-left: 1.5rem;
      + li {
        margin-top: 0.3rem;
      }
    }
  }

  img.platinum {
    border: 1px solid darkgray;
  }
  img.gold {
    border: 1px solid goldenrod;
  }
  .payment-logos-container {
    text-align: center;
  }
  picture.payment-logos {
    display: inline-block;
    margin: 0 auto;
  }
</style>
