---
const classList = Astro.props.classList || "";
const padding = Astro.props.padded ? "5vw" : "0";
const width = `${Astro.props.width || 600}px`;
---

<div
  class=`grid-container ${classList}`
  style={`--padding: ${padding}; --width: ${width}`}
>
  <div class="grid">
    <slot />
  </div>
</div>

<style lang="scss">
  @use "../style/responsive" as r;

  .grid-container {
    margin: 0 auto;
    max-width: var(--width);

    @include r.mobile {
      padding: var(--padding);
    }

    .grid {
      display: grid;
    }
  }
</style>
