---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} •` : ""} Decimal.Business</title>

    <meta name="theme-color" content="#1f464e" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon_io/favicon-16x16.png"
    />

    <!-- HTML Meta Tags -->
    <title>Decimal.Business</title>
    <meta
      name="description"
      content="The Johnny.Decimal Small Business System provides a structured, opinionated method to organise everything in a business, creating a universal ‘catalogue’ for all files, tasks, and items."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://decimal.business" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=" Decimal.Business" />
    <meta
      property="og:description"
      content="The Johnny.Decimal Small Business System provides a structured, opinionated method to organise everything in a business, creating a universal ‘catalogue’ for all files, tasks, and items."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/36539587-b852-4b62-88ae-b4f5a72976d9.png?token=Ns3TjBj5_mpz1Q7OCSH-jp4UvpKvf7BOAnjj_o8D4-M&height=336&width=1200&expires=33267219519"
    />
    <meta property="og:image:width" content="1228" />
    <meta property="og:image:height" content="344" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="decimal.business" />
    <meta property="twitter:url" content="https://decimal.business" />
    <meta name="twitter:title" content=" Decimal.Business" />
    <meta
      name="twitter:description"
      content="The Johnny.Decimal Small Business System provides a structured, opinionated method to organise everything in a business, creating a universal ‘catalogue’ for all files, tasks, and items."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/36539587-b852-4b62-88ae-b4f5a72976d9.png?token=Ns3TjBj5_mpz1Q7OCSH-jp4UvpKvf7BOAnjj_o8D4-M&height=336&width=1200&expires=33267219519"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=fallback"
      rel="stylesheet"
    />

    <script
      defer
      data-domain="business.johnnydecimal.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use "../style/reset";
  @use "../style/colours";
  @use "../style/responsive" as r;

  html {
    background-color: var(--background);
    color: var(--text);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: var(--link);
    &:visited {
      color: var(--link-visited);
    }
    &:hover {
      background-color: var(--link-hover-bg);
      color: var(--link-hover);
    }
    &:hover:visited {
      background-color: var(--link-visited-hover-bg);
    }
    &:active {
      color: var(--link-hover-bg);
    }
    &:active:visited {
      color: var(--link-visited-hover-bg);
    }
  }

  code {
    background-color: var(--code-bg);
    border-bottom: 2px solid var(--code-border);
    font-family: "Fira Mono";
    font-size: 0.95rem;
    padding-inline: 0.2rem;
    padding-top: 0.2rem;
  }

  h1 {
    border-bottom: 3px solid var(--text);
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  h2 {
    margin: 2rem 0 1rem 0;
  }
  h3 {
    margin: 1.5rem 0 1rem 0;
  }

  p {
    font-size: 20px;
    + p {
      margin-top: 1em;
    }
  }

  section[data-footnotes] {
    display: none;
  }

  sup {
    font-size: 0.7rem;
    // font-variant-numeric: lining-nums;
    position: relative;
    top: -0.7em;
    vertical-align: baseline;
  }

  ul {
    margin: 1rem 0;
    padding-left: 1.3rem;
    li {
      font-size: 20px;
      list-style-position: outside;
      margin: 0.3rem 0;
      padding-left: 0.1rem;
      text-indent: -0.1rem;
      ul {
        margin: 0.2rem 0;
        padding-left: 1.1rem;
      }
    }
  }
</style>
